<nav class="light-blue">
    <div class="nav-wrapper container">
     <a href="/" class="brand-logo">
      Discussions
     </a>
     <ul class="right">
     <%= if @conn.assigns[:user] do %>
      <li>
      <%= link "Logout", to: Routes.auth_path(@conn, :signout) %>
      </li>
     <% else %>
      <li>
      <%= link "Sign in with Github", to: Routes.auth_path(@conn, :request, "github") %>
     </li>
    <% end %>
    </ul>
    </div>
   </nav>
   